@import url(./styles.css);

.pets-header {
  box-sizing: border-box;
  background: #FFFFFF;
}
.pets-header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.pets-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.pets-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets-subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #292929;
}
.pets-nav-menu {
  display: flex;
  
}
.pets-menu-list {
  display: flex;
  gap: 36px;
  align-items: center;
}
.pets-menu-item {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}
.our-pets {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.main {
}
.pets-our-friends-section {
  background-color: #F6F6F6;;
}
.pets-our-friends-section-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.pets-heading {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets-cards-container {
  padding-top: 14px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  row-gap: 30px;
}
.navigation-container {
  padding-top: 15px;
  display: flex;
  gap: 20px;
}
.navigation-button {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
}
.inactive {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}
.current {
  background-color: #F1CDB3;
  transition: background-color 0.5s ease;
}
.current:hover {
  background-color: #FDDCC4;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.active {
  border: 2px solid #F1CDB3;
  color: #292929;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}
.active:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  transition: background-color 0.5s ease, border-color 0.5s ease;
  cursor: pointer;
}